[application]

# App (Project) Name
name = "ruso"

# Dioxus App Default Platform
# desktop, web, mobile, ssr
default_platform = "desktop"

# `build` & `serve` dist path
out_dir = "dist"

# resource (public) file folder
asset_dir = "assets"

[bundle]
identifier = "com.cyanism.ruso"
publisher = "cyanism"
icon = ["assets/icons/icon.png", "assets/icons/icon.ico", "assets/icons/icon.icns"]
resources = ["assets/*"]
category = "Utility"
short_description = "A cross-platform CLI and GUI application to easily modify osu! beatmap parameters."

[bundle.deb]
depends = ["libwebkit2gtk-4.1-dev", "libgtk-3-dev", "libayatana-appindicator3-dev"]
files = {}

[bundle.windows]
allow_downgrades = true
webview_install_mode = { OfflineInstaller = { silent = false } }
tsp = true
icon_path = "assets/icons/icon.ico"

[web.app]

# HTML title tag content
title = "ruso!"

[web.watcher]

# when watcher trigger, regenerate the `index.html`
reload_html = true

# which files or dirs will be watcher monitoring
watch_path = ["src", "assets"]

# include `assets` in web platform
[web.resource]

# CSS style file
style = ["src/css/style.css"]

# Javascript code file
script = []

[web.resource.dev]

# serve: [dev-server] only

# CSS style file
style = []

# Javascript code file
script = []
